<h1 class="page-title">{{ vm.page }}</h1>

<form name="vm.recipeForm" ng-submit="vm.addRecipe()">
  <div class="form-group">
    <label for="title">Nom :</label>
    <input type="text" class="form-control" id="title" placeholder="Saisir le nom de la recette" name="title" required ng-minlength="2" ng-model="vm.title"/>
    <div ng-show="vm.recipeForm.title.$dirty && vm.recipeForm.title.$invalid && vm.isSubmitted">
      <p>Name should be more than 2 characters long</p>
    </div>

  </div>
  <div class="form-group">
    <label for="servingNumber">Nombre de couverts :</label>
    <input type="text" class="form-control" id="servingNumber" placeholder="Saisir le nombre de couverts" name="servingNumber" ng-model="vm.servingNumber"/>
  </div>
  <div class="form-group">
    <label for="preparationTime">Temps de préparation :</label>
    <input type="text" class="form-control" id="preparationTime" placeholder="Saisir le temps de préparation" name="preparationTime" ng-model="vm.preparationTime"/>
  </div>

  <div class="form-group">
    <label for="ingredients">Ingrédients :</label>
    <div class="form-inline">
      <input type="text" class="form-control ingredient-input" placeholder="Saisir les ingredients" name="ingredient" ng-model="vm.newIngredient"/>
      <a class="btn btn-default btn-sm" ng-click="vm.addIngredients()"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    </div>
    <div ng-show="vm.recipeForm.ingredients.$dirty && vm.recipeForm.ingredients.$invalid && vm.isSubmitted">
      <p>Ingredients should be more than 2 characters long</p>
    </div>
    <div ng-repeat="ingredient in vm.ingredients track by $index" ng-show="vm.ingredients.length">
        <ul>
            <li>
                <span>{{ ingredient }}</span>
                <a ng-click="vm.removeIngredient(ingredient)"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>

  </div>

  <div class="form-group">
    <label for="instructions">Instructions :</label>
    <textarea type="text" class="form-control" id="instructions" placeholder="Saisir les instructions" name="instructions" required ng-minlength="2" ng-model="vm.instructions"></textarea>
    <div ng-show="vm.recipeForm.instructions.$dirty && vm.recipeForm.instructions.$invalid && vm.isSubmitted">
      <p>Instructions should be more than 2 characters long</p>
    </div>
  </div>
  <button type="submit" class="btn btn-custom">Valider</button>
</form>
