.navbar{
    background-color: saddlebrown;
}

.navbar li a{
    font-size: 20px;
    color: #fad865 !important;
    margin-right: 20px;
}

.navbar img{
    width: 100px !important;
    height: 100px !important;
    border-radius: 100px;
}

.btn-custom{
    color: saddlebrown;
    background-color: #fad865;
  }

.btn-custom:hover{
    font-size: 120%;
}

footer{
    height: 150px;
    background-color: saddlebrown;
    margin-top: 50px;
}

a{
    text-decoration: none !important;
}

.centered{
    margin: 50px auto;
    width: 75%;
}

.page-title{
    margin-bottom: 50px;
}

.recipe-section{
    margin-top: 40px;
}

.card-img-top{
    width: 50%;
    margin: auto;
}

.card{
    width: 250px;
    margin: 0 0 30px 30px;
}

.card-footer a{
    float: right;
    padding-left: 20px;
}

.ingredient-input{
    width: calc(100% - 30px) !important;
}

.form-ingredients{
    width: 90%;
    margin: 20px auto;
}

.form-ingredients i{
    margin-right: 25px;
}
