<!--
<h1 class="page-title">{{ vm.page }}</h1>

<div class="card-deck">
    <div ng-repeat="recipe in vm.recipes">
        <div class="card">
            <img class="card-img-top" src="../images/assiette.jpg">
            <div class="card-block">
                <a ng-href="#!/recipe/{{ recipe._id }}"><h4 class="card-title">{{ recipe.title }}</h4></a>
                <a class="glyphicon glyphicon-pencil"></a>
                <a data-method="delete" ng-href="#!/recipes/{{ recipe._id }}" class="glyphicon glyphicon-remove"></a>
            </div>
        </div>
    </div>
</div>
-->

<div class="card-deck">
    <div data-ng-repeat="recipe in vm.recipes track by $index">
        <div class="card">
            <img class="card-img-top" src="../images/assiette.jpg" alt="Card image cap">
            <div class="card-block">
                <a ng-href="#!/recipe/{{ recipe._id }}"><h5 class="card-title">{{ recipe.title }}</h5></a>
                <p class="card-text">{{ recipe.instructions | limitTo: 150 }}...</p>
            </div>
            <div class="card-footer">
                <a><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a data-method="delete" ng-href="#!/recipes/{{ recipe._id }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
